* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

main {
    height: 100%;
    width: 100%;
    background-color: #232323;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

main button {
    padding: 20px 40px;
    font-size: 1.7rem;
    font-weight: 600;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    z-index: 99;
}

main button:active {
    transform: scale(.95);
}