* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

main {
    height: 100%;
    width: 100%;
    background-color: #333333;
    display: flex;
    align-items: center;
    justify-content: center;
}

.center {
    height: 40vh;
    width: 40vw;
    background-color: rgb(222, 222, 222);
    border-radius: 10px;
    padding: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.center h2 {
    font-size: 1.2rem;
    text-align: center;
    font-weight: 400;
    padding-bottom: 1vw;
}

.center span {
    color: blue;
}

.bar {
    width: 100%;
    height: 3vh;
    background-color: rgb(155, 155, 155);
    border-radius: 10px;
    overflow: hidden;
}

.inner-bar {
    height: 100%;
    width: 0%;
    background-color: green;
}

.btn {
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1vw;
}

.btn h2 {
    font-size: 2rem;
}

.btn button {
    padding: 10px 30px;
    font-size: 1.2rem;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: rgb(32, 157, 32);
}

.btn button:active {
    scale: .95;
}

@media (max-width: 700px) {
    .center {
        height: 35%;
        width: 80%;
        padding: 1vw 4vw;
    }

    .center h2 {
        font-size: .9rem;
    }

    .bar {
        width: 100%;
        height: 3vh;
    }

    .btn h2 {
        font-size: 2rem;
    }

    .btn button {
        padding: 10px 25px;
        font-size: 1rem;
        border-radius: 10px;
        border: none;
        cursor: pointer;
        background-color: rgb(32, 157, 32);
    }
}