* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    height: 100vh;
    width: 100%;
    background-color: #303030;
    display: flex;
    flex-direction: column;
    gap: 2vw;
    align-items: center;
    justify-content: center;
}

#box {
    height: 40vh;
    width: 30vw;
    background-color: rgb(245, 245, 220);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#box h2:nth-child(1) {
    text-decoration: underline;
}

#box h2 {
    font-size: 2rem;
    color: "black";
}

#box h3 {
    font-size: 1.2rem;
    color: black;
}

button {
    padding: 15px 30px;
    font-size: 1.5rem;
    cursor: pointer;
    border: none;
    background-color: darkseagreen;
    border-radius: 5px;
    transition: all ease .2s;
}

button:active {
    scale: 0.9;
}

@media (max-width: 700px) {
    main {
        gap: 5vw;
    }

    #box {
        width: 60vw;
    }

    #box h2 {
        font-size: 1.6rem;
    }
}