* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #181A1B;
}

h1 {
    font-size: 5rem;
    padding: 2vw;
    color: #E8E6E2;
}

button {
    padding: 10px 30px;
    font-size: 2rem;
    cursor: pointer;
    margin: 2vw;
    border: none;
    border-radius: 5px;
    color: #E8E6E2;
}

button:nth-child(1) {
    background-color: #198E88;
}

button:nth-child(2) {
    background-color: #313537;
}

button:nth-child(3) {
    background-color: #7A0F0E;
}